.bg{
    width: 107%;
    
    z-index: -99999999;
    position: fixed;
    top: 0px;
    left: -15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;}




.br{
background: #0;
    border-radius: 20px;
    margin: 7px 3px 7px 3px;
    min-height: 70px;
    padding: 10px;
    font-size : 20px;
    font-weight: bold;
}
